server:
  port: 8090
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true

spring:
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/stayNest?serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: 1q2w3e4r!!

  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update #create ,update ,none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: modudig@gmail.com
    password: adtksmwufpnchgsa
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true
      mail.smtp.timeout: 5000
      mail.smtp.connection timeout: 5000

  security:
    user:
      name: test
      password: 1234
    oauth2:
      client:
        registration:
          naver:
            client-id: 2_jqBMEoBm3D7oNJBMHy
            client-secret: M1_xj5iG26
            redirect-uri: "http://localhost:8090/login/oauth2/code/naver"
            authorization-grant-type: authorization_code
            scope:
              - name
              - email
              - mobile
            client-name: Naver

          kakao:
            client-id: 1e24036efdf8e99fa6275dc6f09787c8
            client-secret: zUZpKG8g84d2i3XuplBxDQc9YNnNDtca
            redirect-uri: "http://localhost:8090/login/oauth2/code/kakao"
            client-authentication-method: POST
            authorization-grant-type: authorization_code
            scope:
              - name
              - account_email
              - phone_number
            client-name: Kakao

        provider:
          naver:
            authorization_uri: https://nid.naver.com/oauth2.0/authorize
            token_uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user_name_attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

jwt:
  header: JwtAuthorizationFilter
  secret:
    key: c2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQtc2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQK
  token-validity-in-seconds: 86400
  expired-time:
    token:
      access: 2500000000
      refresh: 25000000000000

logging:
  level:
    root: info #info debug error



