body {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    margin: 110px auto 0 auto; /* 상단 마진 110px, 좌우 자동으로 가운데 정렬 */
    width: 85%;
    box-sizing: border-box; /* 패딩과 보더를 너비에 포함 */
}

/* Container for the header */
.outer-container {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    position: fixed; /* 헤더를 상단에 고정 */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* 다른 요소들보다 위에 오도록 함 */
}

/* Left-aligned content */
.left-aligned {
    color: #0D31B2;
    font-size: 40px;
    font-weight: 900;
    flex: 1;
}

.logo {
    width: 150px;
}

/* Right-aligned dropdown */
.right-aligned {
    display: flex;
    align-items: center;
    position: relative;
}

.host {
    margin-left: 30px;
    margin-right: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 180px;
    min-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.host a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.host a:hover {
    width: 180px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dropdown button styles */
.dropbtn {
    background-color: #ffffff;
    min-width: 180px;
    color: black;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Dropdown button text styles */
.dropbtn > div {
    margin-left: 5px;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: calc(100% + 1px);
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Hover effect for dropdown links */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown content on click */
.dropdown.active .dropdown-content {
    display: block;
}

footer {
    border-top: 1px solid #cccccc;
    color: #005241;
    padding: 1em 0;
    background-color: #ffffff;
    width: 100%;
}

.ft {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

footer .footer-section {
    flex: 1;
    text-align: center;
}

footer .footer-section h3 {
    margin-top: 0;
}

footer .footer-section a {
    color: #4F9F8A;
    text-decoration: none;
    margin: 0 1em;
}

footer .footer-section p {
    color: #4F9F8A;
    text-decoration: none;
    margin: 0 1em;
}

footer .footer-section a:hover {
    text-decoration: underline;
}

footer .social-icons a {
    margin: 0 0.5em;
    color: #4F9F8A;
    font-size: 1.5em;
}

footer .social-icons a:hover {
    color: #00aced;
}

.searchBox-khs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.button-item-khs {
    flex: 1;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #cccccc;
    border-radius: 8px;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: lightslategray;
}

.button-item-khs:hover {
    background-color: #f1f1f1;
}

.sb1-khs {
    flex: 3;
    text-align: left;
}

.sb2-khs {
    flex: 1;
    text-align: left;
}

.sb3-khs {
    flex: 1;
    text-align: left;
}

.sb4-khs {
    flex: 2;
    text-align: left;
}

.sb5-khs {
    flex: 1;
    background-color: #005241;
    color: white;
}

.sb5-khs:hover {
    background-color: #005241;
    color: white;
}

.selCat-khs {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cat-khs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.cat-khs img {
    width: 70px;
    height: 70px;
}

.cat-khs div {
    text-align: center;
    margin-top: 10px;
}
.accomList-khs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.accom-khs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    width: 300px;
    height: 330px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0;
}
.accom-khs div {
    font-size: 20px;
    margin: 5px;
}

.accom-khs img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}

.accomD1-khs {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 세로 가운데 정렬 */
}

.accomD1-1-khs {
    text-align: left; /* 왼쪽 정렬 */
}

.accomD1-2-khs {
    text-align: right; /* 오른쪽 정렬 */
}

.accomD2-khs {
    width: 95%;
    text-align: left;
    padding-left: 13px;
    color: gray;
}

.accomD3-khs {
    width: 95%;
    text-align: left;
    padding-left: 13px;
    color: gray;
}

.accomD4-khs {
    width: 95%;
    text-align: right;
    padding-right: 13px;
}
